<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704788886151-80ffeeo7e33sj8v4lsdobp51ft2vm782.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704788886151-80ffeeo7e33sj8v4lsdobp51ft2vm782</string>
	<key>API_KEY</key>
	<string>AIzaSyDz83nQL1URAtEa6JHrlsMuupgewnXnhdY</string>
	<key>GCM_SENDER_ID</key>
	<string>704788886151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.restaurer</string>
	<key>PROJECT_ID</key>
	<string>restaurer-auth-94003</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurer-auth-94003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704788886151:ios:bc2c43753148e31e86fe22</string>
</dict>
</plist>