<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508927879376-2kvg0pjiuld5u45phjtht4hkqq58394s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508927879376-2kvg0pjiuld5u45phjtht4hkqq58394s</string>
	<key>API_KEY</key>
	<string>AIzaSyDuhgDNnRJQLb474gxtakW3TCBa8t7fdm8</string>
	<key>GCM_SENDER_ID</key>
	<string>508927879376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Favorites</string>
	<key>PROJECT_ID</key>
	<string>favorites-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>favorites-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508927879376:ios:80c41a36b3ba84109456d5</string>
</dict>
</plist>